@media (max-width: 1200px) {
 .hero-section {
    height: 70vh;
}header.hero-section.position-relative.text-center.text-white {}

.hero-title {
    font-size: 30px;
}

.section-subtitle {
    font-size: 46px;
}



.goal-card {
    height: 300px;
}


.py-5 {
    padding: 20px !important;
}
#menu .main-nav a {
    font-size: 30px;
}
.profile-image-container {
    position: relative;
    height: 430px;
    overflow: hidden;
    border-radius: 20px;
}
.heading-font h1 {
    font-size: 68px;
}
}

/* Small devices (mobile, max-width: 767px) */
@media (max-width: 991px) {
  .profile-image-container {
    position: relative;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}
.new-sec .hero-content {
    top: 35%;
}
}
@media (max-width: 767px) {
    .hero-section {
    height: 60vh;
}header.hero-section.position-relative.text-center.text-white {}

.section-subtitle {
    font-size: 30px;
}

.section-title {
    font-size: 21px;
}

.about-btn {
    padding: 12px 37px;
    font-size: 15px;
}

.mission-img-wrapper {
    width: 57%;
    text-align: end !important;
}

img.img-fluid.rounded {}

.mission-img-wrapper img {
    /* width: 60%; */
    /* text-align: end !important; */
    /* display: flex; */
    /* align-items: center; */
    justify-content: end !important;
}

.goal-card {
    height: 260px;
}

.goal-card {}

#menu .main-nav a {
    font-size: 24px;
}
  .profile-image-container {
    position: relative;
    height: 340px;
    overflow: hidden;
    border-radius: 20px;
}
.heading-font h1 {
    font-size: 56px;
}
.new-sec .hero-content {
    top: 32%;
}
}
@media (max-width: 576px) {
  a.navbar-brand.logo-text.fw-bold.fs-4 img {
    width: 89px;
}

.nav-custom {
    padding: 0 9px 0 0;
}

.hero-title {
    font-size: 30px;
}

h1.hero-title {}

.section-subtitle {
    font-size: 18px;
}

.section-title {
    font-size: 15px;
}

.section-text {
    font-size: 12px;
}

p.section-text {}

.goals-title {
    font-size: 19px;
    margin-bottom: 18px !important;
}

h2.goals-title.mb-5 {}

.mission-img-wrapper img {
    width: 100%;
}

.mission-img-wrapper {
    width: 100%;
}
#menu .main-nav a {
    font-size: 20px;
}
.booknow-btn {
    display: none;
}
.header-booknow{
           display: none;
        width: fit-content;
        height: 35px;
        font-size: 12px;
        background-color: #fff;
        color: #000;
        border-radius: 32px;
        margin-right: 13px;
        padding: 0 16px;
    
}
.menu-text {
    display: none;
}

.hero-btn {
    padding: 16px 30px;
    font-size: 12px;
}
.toggle-menu {
    height: 16px;
    width: 19px;
    margin-right: 13px;
}
.hero-content {
    position: relative;
    top: 12%;
    transform: translateY(-30%);
}
button.btn.btn-dark.hero-btn.mt-3{
    margin-top: 0 !important;
}
    .hero-section {
        height: 75vh;
    }
    .info-box {
    margin-bottom: 20px;
}
.toggle-menu span {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  left: calc(50% - 13px);
  position: absolute;
  top: calc(50% - 1px);
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  width: 26px;
}
.toggle-menu span:before, .toggle-menu span:after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  width: 26px;
}
.profile-image-container {
    position: relative;
    height: 240px;
    overflow: hidden;
    border-radius: 20px;
}
.heading-font h1 {
    font-size: 38px;
}
.profile-name {
    font-size: 16px;
}

.profile-details {
    padding: 10px 0;
}

.profile-role {
    font-size: 13px;
    margin-top: 0 !important;
}
.hero-title{
    display: none;
}
.hero-title-mobile{
    display: block;
    font-size: 40px !important;
}
.instructer-text{
     font-size: 50px !important;
}

.new-sec .hero-content {
    top: 41%;
}
.profile-card .read-more-btn {
    bottom: 20px;
    opacity: 1;
}

.profile-role {}
}